<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wl.security_demo.mapper.BizOrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wl.security_demo.domain.entity.BizOrder">
        <id column="id" property="id" />
        <result column="order_no" property="orderNo" />
        <result column="amount" property="amount" />
        <result column="dept_id" property="deptId" />
        <result column="user_id" property="userId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order_no, amount, dept_id, user_id
    </sql>

</mapper>
